
<app-nav></app-nav>
<main>
<div *ngIf="userIsLogged && userIsAdmin">
    <button class="btn btn-primary">Registrar Encuestador</button>
    <button class="btn btn-primary">Cargar/Modificar Encuesta</button>
    <div class="container">
        <div class="row">
            <div class="col">
                <app-bar-chart-procedencia></app-bar-chart-procedencia>
            </div>
            <div class="col">
                <app-bar-chart-procedencia></app-bar-chart-procedencia>
            </div>
        </div>
    </div>
    
</div>
</main>
