form{
  margin: 20px;
}

.login-max-width{
  max-width: 500px;
}

.ng-valid:not(form).ng-touched {
  border-left: 5px solid #429484; 
}

.ng-invalid:not(form).ng-touched {
  border-left: 5px solid #a94442; 
}