<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            Contacto
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <!-- Formulario de contacto -->
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Correo electrónico">
            </div>
            <div class="mb-3">
              <textarea class="form-control" rows="4" placeholder="Mensaje"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            © 2023 Córdoba Turismo
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>

