/* Estilos para el nuevo párrafo de derechos de autor */
.footer p:last-child {
  font-size: 14px; /* Tamaño de fuente del párrafo */
  margin-top: 10px; /* Espaciado superior del párrafo */
  text-align: center; /* Alinea el texto al centro */
}

/*Para que el footer se mantenga al final
aunque no haya suficiente contenido para llenar la página */
:host {
  margin-top: auto;
}

/* Estilo para el footer */
footer.jumbotron {
  background-color: rgb(49, 49, 110);
  padding: 20px 0;
}

/* Estilo para el texto del footer */
footer.jumbotron p {
  color: #fff;
  font-size: 16px;
}
