<footer class="jumbotron">
  <div class="text-center text-white">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 mt-2">
          <p>
            Contactanos
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <!-- Formulario de contacto -->
          <form>
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Nombre">
            </div>
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="Correo electrónico">
            </div>
            <div class="mb-3">
              <textarea class="form-control" rows="4" placeholder="Mensaje"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
      </div>
      <div class="text-center mb-2">
        <a href="" class="text-white me-4">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
